// GLOBAL

body
  font-size: 16px
  font-family: $ff-body
  line-height: 1.85
  color: $gray
  text-rendering: optimizelegibility

  +tablet
    font-size: 14px

// HEADINGS
h1, h2, h3, h4, h5, h6
  font-family: $ff-head
  margin: 5px 0
  text-transform: uppercase
  line-height: 1.2

h1
  font-size: 2rem

  +mobile
    font-size: 1.5rem

h2
  font-size: 1.875rem

  +mobile
    font-size: 1.375rem

h3
  font-size: 1.5rem

  +mobile
    font-size: 1.3rem

h4
  font-size: 1.25rem

  +mobile
    font-size: 1.2rem

h5
  font-size: 1.125rem

  +mobile
    font-size: 1.1rem

h6
  font-size: 1rem

// HR
hr
  position: relative
  border: 0px
  width: 100%
  height: 1px
  background-color: $border_color
  overflow: visible
  margin: 15px auto 30px auto
  // TYPE
  &.block
    &::after
      position: absolute
      top: -2px
      height: 5px
      width: 50px
      background-color: $gray
      content: ''
    // COLORS
    &.orange
      &::after
        background-color: $orange
    &.red
      &::after
        background-color: $red
    &.green
      &::after
        background-color: $green
    &.blue
      &::after
        background-color: $blue
    &.purple
      &::after
        background-color: $purple
    // ALIGNMENT
    &.center
      &::after
        left: 0
        right: 0
        margin: 0 auto

    &.right
      &::after
        right: 0

// TEXT ALIGNMENT
.text-left
  text-align: left
.text-center
  text-align: center
.text-right
  text-align: right

// PAGE
.mapts-page
  position: relative
  top: 110px
  +transition(all, .3s)

  // IF SPECIALS BAR ACTIVE
  &.specials-bar-active
    top: 325px

// MAIN CONTENT
.mapts-content
  min-height: 800px

// WRAPPER
.wrapper
  width: 100%
  max-width: 1000px
  margin: 0px auto
  padding: 30px

// SECTION
.section
  padding: 60px 30px

  +mobile
    padding: 30px

// SPLIT SECTIONS
.split-section
  width: 100%
  .col2
    .col
      flex: 1 1 50%

      +tablet

        flex: 1 1 100%

  .col-content
    padding: 60px
  .col-img
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

  &.img-right
    .col-content
      order: 1
    .col-img
      order: 2


// COLUMNS
.col2, .col3, .col4
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: stretch

.col2
  .col
    +flex(0, 1, 50%)

    +mobile
      +flex(0, 1, 100%)
.col3
  .col
    +flex(0, 1, 33.333%)

    +tablet
      +flex(0, 1, 50%)

    +mobile
      +flex(0, 1, 100%)
.col4
  .col
    flex: 0 1 25%

    +flex(0, 1, 25%)

    +tablet
      +flex(0, 1, 50%)

    +mobile
      +flex(0, 1, 100%)

// PAGE TITLE
.page-title
  position: relative
  width: 100%
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  text-align: center
  padding: 100px 30px
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  z-index: 1

  &::after
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .5)
    content: ''
    z-index: 2
    +transition(all, .3s)

  h1
    color: $white
    z-index: 3


// COLORED BARS
.colored-bars
  display: flex
  width: 100%
  flex-flow: row nowrap
  justify-content: center
  align-items: stretch
  height: 8px
  // INDV BAR
  .bar
    flex: 1 1 20%
    height: 100%
    // COLORS
    &.orange
      background-color: $orange
    &.red
      background-color: $red
    &.green
      background-color: $green
    &.blue
      background-color: $blue
    &.purple
      background-color: $purple

// HIDE AND ONLY SHOW FOR ACCESSIBILTY
.sr-only
  position: absolute
  left: -10000px
  top: auto
  width: 1px
  height: 1px
  overflow: hidden

// VIDEO ELEMENTS/EMBED
.video-element, .embed-element, .map-element
  position: relative
  display: block
  width: 100%
  padding: 0
  overflow: hidden

  &::before
    display: block
    content: ''
    padding-top: 56.25%

  & embed, iframe, object, video
    position: absolute
    top: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    border: 0

  +mobile
    &.mob-600
      height: 600px


.map-element
  min-height: 500px


// LISTS
.mapts-list
  list-style-type: none

  li
    position: relative
    padding-left: 20px
    margin: 15px 0px

    &::before
      position: absolute
      top: 0
      left: 0
      content: '\f054'
      font-family: 'Font Awesome 5 Pro'

  // COLORS
  &.orange
    li
      &::before
        color: $orange
  &.red
    li
      &::before
        color: $red
  &.green
    li
      &::before
        color: $green
  &.blue
    li
      &::before
        color: $blue
  &.purple
    li
      &::before
        color: $purple


ul.office-hours
  text-align: left
  li
    padding-bottom: 5px
    border-bottom: 1px solid $border_color
    span
      float: right



// CONVERT TO OWLCAROUSEL ON MOBILE
.owl-carousel
  .col
    margin: 15px
